#build
#ignore this and add to git because it may screw up travis ci builds
#dist/

# Editor directories and files
.idea

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
#package-lock.json
bower_components
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
