$site-background-color: #FFFFFF;
$site-color: #2c3e50;
$active-color: #24A061;
$menu-bar-color: #24A061;
$font-bold: bold;

$mobile-bars: 3;

$mobile-width: 768px;
$desktop-width: 1024px;

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $mobile-width + 1) {
    @content;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
